.notification {
    height: 2rem;
    width: auto;
    border: 4px solid;
    border-radius: 10px;
    background-color: #aeaeae;
    font-size: 1.25rem;
}

.success {
    border-color: #00EFA1;
    color: #24dd9fc9
}

.failure {
    border-color: #E72821;
    color: #f72821
}